<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <span><i class="material-icons" style="color: dodgerblue; margin: 1em; margin-bottom: 0.25em; margin-top: 0.5em; cursor: pointer;" ng-click="closeModal();">close</i></span>
            <div class="header">
                <h2 style="margin: 1em; text-align:center;">Contract #{{contractNumber}}: {{contractTitle}}</h2>
            </div>
            <div class="body">
                <div style="margin: 1em; background-color: lightgray; border-style: outset; border-color: darkgray; border-width: 12px;">
                    <p style="height: 500px; overflow: auto; padding: 1em; font-family: 'Times New Roman';">{{contractText}}</p>
                </div>
            </div>
        </div>
    </div>
</div>